td{
    word-wrap: break-word;
    word-break: break-all;
}

th, th a{
    word-wrap: break-word;
    background-color: #777777;
    color: white;
}

th a{
    text-decoration: underline;
}

.offerContact{
	width: 95px;
}

.offerDate{
	width: 110px;
}

a.pageNumber{
	padding-left: 5px;
	padding-right: 5px;
}

label.inputRadio{
	margin-left: 5px;
}

div.bodyLogin{
	width: 300px;
	padding: 10px;
	border: 1px solid black;
    text-align: left;
    display: inline-block;
}

div.bodyLoginContainer{
	text-align: center;
}

form.commonForm {
	padding: 15px;
	border-radius: 20px;
	border: 1px solid black;
}

header{
	background: #81BEF7; 
	text-align: center; 
	font-size: 2em;
	margin-bottom: 10px; 
	font-weight: bold;
}

header span.companyName{
	color: #F4FA58;
}

footer{
	background: #ccffcc;
	margin-top: 10px; 
	clear: both;
	font-style: italic;
	font-size: 1em;
	text-align: center; 
}

.div-menu{
    /*
    list-style-type: none;
    padding: 0;
    margin: 0;
    */
}

.div-menu a{
	width: 150px;
	padding: 5px 10px;
	color: white;
	width: 100%;

	display: block;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition:; background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s;
	transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s;
}
.div-menu a:hover{
	-webkit-transition:; background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s;
	transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s,filter 0.3s;

	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.div-menu a:not(:first-child){
	margin-top: 10px;
}

.div-menu a:nth-child(2n){
    background-color: #A6D656;
    color: #FFFFFF;
}

.div-menu a:nth-child(2n+1){
    background-color: #89AACB;
    color: #FFFFFF;
}